body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    place-content: center;
    align-items: center;
}
.caja{
    position: relative;
    background-color: grey;
    display: flex;
    place-content: center;
    align-items: center;
    width: 60vh;
    height: 50vh;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.paper{
    height: 100px;
}
.sisors{
    height: 100px;
}
.rock{
    height: 100px;
}
h1{
    position: absolute;
    top: 2%;
}
h2{
    position: absolute;
    top: 20%;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.b{
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}